alembic
email-to
fsspec
gcsfs
jsonschema
pandas
pg8000
pysftp
python-dotenv
requests

# [ML]
pickle
pipeline


# [framework]
Flask==2.1.0
Flask-APScheduler
Flask-Marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask_WTF

# [server]
Gunicorn
Waitress